body {
    margin: 2em;
    background-color: rgba(88, 34, 34, 0.959);
}

h1 {
    color: rgb(246, 230, 230);
}

h2 {
    font-size: 1.5em;
}

[type='submit']:hover {
    background-color: rgb(197, 97, 97);
}

button:hover {
    background-color: rgb(197, 97, 97);
}

#search-bar, #current, #forecast {
    background-color: lightgoldenrodyellow;
}